@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
    background-color: #414a4c;
    color: #FFD700;
    font-family: 'Cormorant Garamond', serif;
}

.main {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.main-img {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: #FFD700 solid 2px;
    border-radius: 10%;
}

h2, 
h3.ingredients, 
.recipe-container, 
.ing-container  {
    text-align: center;
}


.recipe-list,
.ing-list {
    display: inline-block;
    text-align: left;
}

a:link, a:visited {
    color: #FFD700;
}

a:hover {
    color: white;
}

figcaption {
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.p-descrip {
    text-align: center;
}



